public/reader/otzar-hayirah/part-3/torah-1.json filter=lfs diff=lfs merge=lfs -text
public/reader/otzar-hayirah/part-3/torah-9.json filter=lfs diff=lfs merge=lfs -text
public/reader/otzar-hayirah/part-3/torah-12.json filter=lfs diff=lfs merge=lfs -text
public/reader/otzar-hayirah/part-3/torah-14.json filter=lfs diff=lfs merge=lfs -text
public/reader/otzar-hayirah/part-3/torah-16.json filter=lfs diff=lfs merge=lfs -text
public/reader/otzar-hayirah/part-4/torah-7.json filter=lfs diff=lfs merge=lfs -text
public/reader/otzar-hayirah/part-2/torah-11.json filter=lfs diff=lfs merge=lfs -text
