---
const pageTitle = "Story 1: A Lost Princess (The Loss of a King\'s Daughter)";
const pageDescription = "A Lost Princess (The Loss of a King\'s Daughter)";
const contentHtml = `
      <p>Tale 1
of
A Lost Princess
(The Loss of a King's Daughter)
(Summer of 5566)
He (Rabbi Nachman) spoke up and said: "While on the way, I told a story, that whoever heard it had a thought of repentance. And this is the story...":
Once, there was a king. The king had six sons and one daughter. Now, this daughter was very precious in his eyes, and he was exceedingly fond of her, and would take great delight in being with her. One time, while he was together with her on a certain day, he became angry with her, and the words, "May the Not Good One take you away" slipped out of his mouth. At night, she went to her room, and in the morning, no one knew where she was. So her father (the king) was very distraught and went looking for her everywhere. The Second to the King arose, because he saw the king was very troubled, and asked to be given a servant, a horse, and money for expenses, and went to search for her. He searched for her very much, for a very long time, until he found her.
(Now he tells how he searched for her until he found her.)
He traveled a long time, searching everywhere for her; in deserts, and in fields, and in forests. And he sought her for a very long time. He was making his way in the desert, when he saw a pathway, away to the side; he thought it over well and decided, "Since I have been going for such a long time in the desert and cannot find her, I will follow this path. Maybe I will come to a settlement." He went for a long time.
After that he saw a castle and many legions of soldiers standing around it. And the castle was very beautiful, and the legions of soldiers standing around it in fine order gave it a handsome and stately appearance. He was scared of the legions of soldiers, maybe they would not let him enter. He thought it over, saying to himself, "I will go ahead and try." So he left the horse behind, and went to the castle. He was allowed to enter, and they did nothing at all to stop him, and he went from one room to another without being challenged. He came to a palace hall, and he saw the king sitting there with a crown and many legions of soldiers standing around him. Many musicians were playing on instruments before him, and it was very pleasant and beautiful there. And neither the king nor any one of them asked him anything at all, and he saw delicacies and good food there. So he went (Heb: stood) and ate, and then went to lie down in a little corner in order to see what takes place there. He saw that the king had commanded that the queen be brought, and they went to bring her! There was great tumult there, and great rejoicing, and the band played and sang keenly, because the queen had been brought. A chair was placed for her, and she was seated next to him. And she was the (aforementioned) king's daughter, and he (the second to the king) saw her and recognized her.
After this the queen glanced and noticed someone lying in the corner, and she recognized him. So she rose from her chair and went over to him. She touched him and asked him, "Do you recognize me?" He answered her, "Yes, I recognize you. You are the king's daughter (princess) who was lost." And he asked her, "How did you come to be here?" She answered him, "Because my father (the king) blurted out those words, (that 'The Not Good One should take you away') and here, this is the place that is not good." So he told her that her father was very grieved, and that he was searching for her many years.
And he asked her, "How can I take you out (of here)?" She answered him, "It is impossible for you to take me out, unless you choose for yourself a place and remain there for a full year, and all that year you must long for me that you should take me out, and whenever you have free time, you must only long, desire, and hope to take me out. And you must fast. And on the last day of the year, you should fast and not sleep the whole twenty four hours.
He went and did so, and at the end of the year, on the last day, he fasted and did not sleep, and he arose and went there (to the king's daughter, in order to take her out of the castle). He saw a tree, and on it were growing very beautiful apples. It was very desirable to his eyes, and he went and ate from them. As soon as he ate the apple, he dropped down and was taken by sleep and slept a very long time. His servant tried to wake him, but he could not be awakened.
After that, he awoke from the sleep. He asked the servant, "Where am I in the world?" He told him the whole story (i.e. the servant told the second to the king the story) saying, "You were sleeping for a very long time. It is now several years that you have slept, and I sustained myself from the fruit." He was very upset. And he went there, and found her (i.e. the king's daughter). She lamented to him greatly, and was in great anguish. "Because of one day, you lost everything (in other words, because you could not restrain yourself for one day, and you ate the apple, through that you've forfeited) for if you had only come on that day, you would have taken me out. It is true that not to eat is a very difficult thing, especially on the last day - then the evil inclination is very overpowering (i.e. the king's daughter told him that now she would make the prohibition more lenient, and he would not be forbidden to eat, because it is a difficult thing to comply with etc.). So you should once again choose a place, and stay there also for a year (as before), and on the last day you will now be allowed to eat. Only, you must not sleep, and you should not drink any wine, so that you should not fall into sleep; for the most important thing is (refraining from) sleep." He went and did this.
On the last day he was going and saw a flowing spring, and the appearance of the spring was red, and the smell was that of wine. He asked the servant, "Did you see? This is a spring that should contain water, but its colour is red, and its smell is of wine!" And he went and tasted from the spring. Immediately, he dropped down and slept many years; for seventy years. (During this period) many legions of soldiers passed with the wagons of equipment (baggage trains) which trail after them. And the servant hid himself because of these legions of soldiers. After that there went a covered carriage, and there, sat the king's daughter. She stopped near him, and descended, and sat next to him, and she recognized him. And she shook him ardently to rouse him, be he could not be awakened.
She began to bewail him, in that - "So much exertion and toil, for so many years, you have underwent to take me out, and because of one day, when you could have taken me out, you have lost everything!" She cried a great deal about this. She said, "It's a very great pity upon you and upon me. For I have been here such a long time and I cannot leave." After, she took off a scarf from her head, and wrote on it with her tears, and laid it down next to him. And she rose and sat in the carriage and rode away.
Later, he awoke and asked the servant, "Where am I in the world?" He told him the whole story, and that so many legions of soldiers had passed by, and that the carriage had been there, and that she had cried over him, and she had cried out, "It's a great pity on you and on me etc." as related before. Meanwhile, he glanced and noticed that the headscarf was lying near him, and asked, "Where did this come from?" He answered him, "She left it behind and wrote on it with her tears."
He took the headscarf and held it up against the sun. He began to see the letters. He read what was written there; her lamentation and her cries (as related above), and that now she is no longer in that castle (which was mentioned above), rather he should search for a mountain of gold with a pearl castle, "There, you will find me."
So he (the second to the king) left the servant behind, and went alone to search for her. He went and searched for her for several years. He thought it over and realized that in a settled place certainly would not be found a golden mountain and pearl castle, because he was proficient in the map of the world. "So I will go to deserts and search there." He went searching for her in the deserts for many years.
After that, he saw a huge man, whose enormous size cannot be considered human, and he was carrying a massive tree. In a settled area such a large tree would never be found. And the man asked him, "Who are you?" He answered, "I am a man." The giant man was amazed and said, "I've been such a long time now, in the desert, and I have never before seen a human being here!" He told him the whole story (as above) and that he is searching for a golden mountain and a pearl castle. He answered that, "For sure no such thing exists," and tried to put him off, telling him, "You have been talked into this nonsense because it certainly does not exist!" He started to cry bitterly (the second to the king cried very much) and said, "For sure it has to exist; it must be possible to find it somewhere!" And he dissuaded him (i.e. the wild man put him off) and said, "You have been persuaded into nonsense." And he (the second to the king) said, "It definitely must be somewhere."
He said to him (the wild man to the second to the king), "In my opinion this is ridiculous, but since you are obstinate, behold I am in charge of all the wild animals, I will do you a favor and summon all the beasts - for they roam over the entire world - perhaps one of them will know about this mountain and castle (which was mentioned above)."
He called all the wild animals, from small to large, and asked them. They all replied that they had not seen it. He told him, "You see, you have been told nonsense. If you listen to me, turn back, for you surely won't find it, as it does not exist anywhere in the world." And the second to the king stubbornly insisted and said, "It surely does exist!"
He said to him (the wild man to the second to the king), "Look, I have a brother in the desert, and he is in charge of all the birds; maybe they will know, since they fly high in the air. Maybe they have seen the mountain and the castle. Go to him, and tell him that I sent you to him."
He went searching many years, and again found a huge person (as above), also carrying a massive tree, and who questioned him just as the first one had. He (the second to the king) answered telling him the whole story, and that the brother had sent him to him. And he too (the brother) tried to discourage him since this is obviously something that does not exist, and the second to the king pleaded with him also that it certainly does exist! He told him (this second man told the viceroy), "I am in charge of all the birds; I will summon them, maybe they know." And he called up all the birds and asked all of them, from small to large. They answered him that they don't know of that mountain and castle. He told him (the brother told the viceroy), "Don't you see? It certainly does not exist anywhere in the world! If you listen to me, turn back, because obviously no such thing exists!" And he (the second to the king) insisted very stubbornly saying, "It surely does exist somewhere in the world!" He told him (the brother told the second to the king), "Further on in the desert my brother can be found. He is in charge of all the winds, and they run throughout the whole world. Perhaps they know."
He went searching many years, and again he found a large man as before, who was also carrying a huge tree, and also questioned him as related above. He replied telling him the whole story as before. This man also tried to discourage him, and the second to the king implored him as well. He told him (this third man to the second to the king) that he would do him a favor, and for his sake he would call all the winds to come, and would ask them. So he called all the winds to come, and they came. He asked them all. Not one of them knew of the mountain and the castle. He said to the second to the king, "Don't you see that you have been told nonsense!" The second to the king began to cry bitterly and said, "I know for sure that it does exist!"
In the interim, he saw that another wind had arrived. The appointee fumed at it, "Why did you come so late? Didn't I order that all the winds should come?! Why didn't you come with them?" It answered him, "I was delayed because I had to carry a daughter of a king (a princess) to a golden mountain and a pearl castle." He was overjoyed (the second to the king was very happy that he now merited to hear what he desired).
The appointee over the winds asked the wind, "What is valuable there? (i.e. what things are considered precious and important there?)" It told him, "There, everything is valuable!" The appointee over the winds addressed the second to the king saying, "Since you have been searching for her for such a long time, and you have expended so much effort - lest you will now have a monetary setback, I give you a vessel so that whenever you put your hand into it, you will receive from it money." And he commanded the wind to carry him (the second to the king) there. The storm wind came and carried him there, and brought him to the gate. Legions of soldiers were standing there, who would not let him enter the city. So he put his hand into the vessel and took out money and bribed them, and entered the city. The city was beautiful, and he went to a wealthy person and purchased meals (Yid. kest - room and board), as he would have to stay there some time, because it would take wisdom and intelligence in order to take her out (and how he got her out, he did not tell). In the end he took her out. Amen Selah.
Na Nach Nachma Nachman MeUman!</p>
`;
---

<style>
  .page-header {
    background: linear-gradient(135deg, #1a365d 0%, #2c5282 100%);
    color: white;
    padding: 4rem 2rem;
    text-align: center;
  }
  .page-header h1 {
    font-family: var(--font-hebrew);
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }
  .story-badge {
    display: inline-block;
    background: rgba(255,255,255,0.2);
    padding: 0.25rem 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
  .container { max-width: 800px; margin: 0 auto; padding: 0 2rem; }
  .navigation {
    background: #ebf8ff;
    padding: 1rem 0;
  }
  .nav-links {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .nav-link {
    color: #2c5282;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 0.9rem;
  }
  .nav-link:hover {
    background: #2c5282;
    color: white;
  }
  .content { padding: 3rem 0; }
  .content-text {
    background: white;
    padding: 3rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  }
  .content-text :global(p) {
    font-size: 1.1rem;
    line-height: 1.9;
    color: #333;
    margin-bottom: 1.5rem;
    text-align: justify;
  }
  .footer-nav {
    background: #2c5282;
    padding: 2rem 0;
  }
  .nav-row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .back-link {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    background: rgba(255,255,255,0.1);
    border-radius: 8px;
  }
  .back-link:hover {
    background: rgba(255,255,255,0.2);
  }
</style>

<section class="page-header">
  <h1>Story 1: A Lost Princess (The Loss of a King\'s Daughter)</h1>
  <span class="story-badge">Stories of Rabbi Nachman</span>
</section>

<nav class="navigation">
  <div class="container">
    <div class="nav-links">
      <a href="/teachings/stories" class="nav-link">← Index</a>
      <a href="/teachings" class="nav-link">Teachings</a>
    </div>
  </div>
</nav>

<section class="content">
  <div class="container">
    <div class="content-text" set:html={contentHtml} />
  </div>
</section>

<nav class="footer-nav">
  <div class="container">
    <div class="nav-row">
      <a href="/teachings/stories" class="back-link">
        <span>←</span>
        <span>All Stories</span>
      </a>
    </div>
  </div>
</section>

---
import Layout from '../../layouts/Layout.astro';